#aula1{
    margin: 20px;
    font: normal bolder 1em 'Arial';

}
#aula2{
    display: flex;
    gap: 1rem;
    margin: 20px;
}
.btn {
    width: 128px;
    height: 32px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}
.btn.primary {
    color: #333333;
    background-color: #FA9945;
}
.btn.primary:hover {
    color: #000000;
    background-color: #fa8620;
}
.btn.primary:active {
    color: #000000;
    background-color: #fa86209c;
}
.btn.danger {
    color: #FFFFFF;
    background-color: #FA4545;
}
.btn.danger:hover {
    color: #ffffffcb;
    background-color: #f52c2c;
}
.btn.danger:active {
    color: #ffffffcb;
    background-color: #f52c2c86;
}
#ativTabela{
    margin: 20px;
}
#ativTabela>table{
    border: 5px solid black;
}
#ativTabela>table>thead>tr>th{
    border-bottom: 3px solid black;
    width: 200px;
    height: 30px;
    font: normal bolder 1em 'Arial';
    background-color: #cfcfcf;
}
#ativTabela>table>tbody>tr>td{
    width: 200px;
    height: 30px;
    font: normal bold 0.8em 'Arial';
    text-align: center;
    background-color: #cfcfcf7e;
}
#aula3{
    margin: 20px;
}